
<div class="container">

  <%= render 'navbar' %>

      <div class="jumbotron">
        <h1>Actor Context</h1>
        <p>This site will give you more information about your favorite actors!</p>

        <p>Just type in the name of the actor below and we'll bring you information from Wikipedia, NYPL, and IMDB</p>

      
        
          <%= form_for :actor, url: actors_path, method: :post, class: "form-inline" do |f| %>

            <%= f.label :first_name %>
            <%= f.text_field :first_name %>

 

            <%= f.label :last_name %>
           <%= f.text_field :last_name %>

 
          <p>
           <%= f.submit 'Find' %>
          </p>
          <% end %>
       
        <!-- </form> -->
      </div>

    <div class="col-lg-6">
      <h4>All the actors in our database?</h4>
    <%= link_to 'The Actor Index', controller: 'actors' %>
      <h4>Update on an actor</h4>
    <%= link_to 'Want to provide information about an actor?', new_actor_path %>
      <p>Note: this will not update any of Wikipedia, NYPL external sites.</p>

  </div>
</div>